@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-color:aliceblue;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: justify;
    }
</style>
<div id="container">
    <h1>História da cidade de Areal - RJ</h1>
    <div id="campo1">
        <div id="texto1">
            <p>A história da criação e desenvolvimento de Areal começa com a decadência do Ciclo de Ouro em Minas Gerais. Em busca de novas atividades econômicas para expansão, exploradores e colonizadores viram no plantio do café uma saída, pois naquela época tinha se tornado uma atividade promissora. Como as terras de Minas não eram exatamente apropriadas para esse tipo de lavoura, brasileiros e portugueses se deslocaram em direção a província do Rio de Janeiro, passando pela região arealense.</p>
        </div>
        <div id="imagem1">
            
        </div>
    </div>
    <div id="campo2">
        <div id="texto2">

        </div>
        <div id="imagem2">
            <p>Durante o percurso vários desbravadores permaneceram na região, na expectativa de desenvolver algum tipo de comércio, como o abastecimento de tropas e tropeiros que por ali passavam, além de prestarem serviços de suprimento das lavouras. E através da parada (ou estação para diligência) surgiu outro tipo de atividade como a troca de animais de tração no percurso, abastecimento, compra e venda de produtos, especialmente pelo fato da estação estar próxima a cidades vizinhas. Foi criada então a estação inicial e terminal da linha de diligências entre Areal e Três Rios (na época conhecida como Entre Rios).</p>
        </div>
    </div>
    <div id="campo3">
        <div id="texto3">
            <p>O nome da cidade surgiu devido ao areal que existia no local onde, atualmente, está a Igreja do Centro da cidade. Quando os viajantes eram indagados sobre o ponto no qual parariam ou desembarcariam, os mesmos, por não saberem e não existir um nome definido para o lugar, diziam que o seu destino era uma parada onde havia um areal. Por ser de uso comum, o nome ficou e a Estação passou a ser conhecida como “Estação Areal” ou “Parada Areal”. Uma curiosidade é que antes de ser definido como 7º distrito de Paraíba Sul, em 17 de dezembro de 1895 com o nome oficial de Areal e, com a mesma denominação como o 4º distrito de Três Rios, seu nome era o de Barra do Rio Preto.</p>
        </div>
        <div id="imagem3">
        </div>
    </div>
    <div id="campo4">
        <div id="texto4">
            <p>A estrada de ferro chega em 1900 e nessa data termina o tráfego das diligências, que possuía até então um barracão para guardar os carros perto do atual Colégio Mariano Procópio. Com a estrada de ferro, o local passa a se desenvolver rapidamente. E com o passar dos anos, se instala na cidade a empresa CBEE (Companhia Brasileira de Energia Elétrica) que construiu uma represa retendo as águas do rio Preto, em 1949. Tal empreendimento proporcionou o aumento da contratação de mão de obra, movimentando e ajudando a criação de vários setores econômicos e ainda estabilizou o serviço de luz e força locais, substituindo a antiga empresa Arealense de Energia Elétrica.</p>
        </div>
        <div id="imagem4">
        </div>
    </div>
    <div id="campo5">
        <div id="texto5">
            <p>
                Outro fator importante para o desenvolvimento de Areal foi a localização da cidade, pois a Estrada União e Indústria e a Estrada Rio-Bahia atravessam o município. O grande fluxo de veículos trouxe benefícios para o comércio em geral, colaborando para o desenvolvimento econômico, urbanístico, social, entre outros. Porém, esse processo foi interrompido com a abertura da Estrada Rio-Juiz de Fora, que passa por fora do centro da cidade. A nova estrada trouxe melhoria e modernidade em comunicações e transportes, mas impôs necessidades e grandes esforços que resultaram em novas estratégias para o desenvolvimento e equilíbrio da vida local.

                Areal também esta marcada na história do país, pois em 31 de março de 1964, as tropas que vinham de Juiz de Fora para realizar o Golpe Militar, encontraram as do Rio e a tensão de que houvesse um combate era grande. Foi nessa data, em Areal, que os oficiais, de ambas as tropas, entraram em um acordo e seguiram o caminho em direção ao Rio de Janeiro para tirar João Goulart da presidência. A população local, na época, ficou aflita temendo que o pior acontecesse. O silêncio que imperou na cidade durante aquele dia, terminou em pouco tempo com a partida das tropas e sem haver um confronto.
            </p>
        </div>
        <div id="imagem5">
        </div>
    </div>
    <div id="campo6">
        <div id="texto6">
            <p>
                A primeira tentativa de emancipação aconteceu em 1957, durante uma reunião realizada com o objetivo de criar uma Comissão que ficaria encarregada das atividades relativas a campanha pública, que naquele período, não se limitaria apenas a Areal, mas também a Posse e São José do Vale do Rio Preto. Como a proposta atingia três áreas, o futuro município teria o nome de Barra do Rio Preto. As populações tomaram posições, quase sempre contrárias e jornais locais também se manifestaram contrários e o movimento não obteve êxito.

                Em 1963 houve outro movimento emancipacionista (para as regiões de Areal e Bemposta). Na época a legislação fazia mais e maiores exigências colocando vários obstáculos à criação de municípios novos. Entretanto, o movimento se organizou e foram tomadas as medidas de dinamização e divulgação necessária. O grupo emancipacionista de 1963 contava com a liderança do Sr. Nelson Abdu, que esteve a frente também do movimento de 1990/91. A iniciativa não deu certo novamente.
            </p>
        </div>
        <div id="imagem6">
        </div>
    </div>
    <div id="campo7">
        <div id="texto7">
            <p>
                Quase trinta anos se passaram quando as iniciativas anteriores foram relembradas e surgiu um novo movimento para a emancipação de Areal, no dia 30 de novembro de 1990. Em 10 de abril de 1992, cumprida todas as formalidades legais e constitucionais Areal estava juridicamente emancipado e declarado município novo, devendo continuar vinculado a Três Rios até 31 de dezembro de 1992, sendo, no período, realizada a campanha eleitoral e a eleição dos seus primeiros vereadores, prefeito e vice-prefeito. No dia 1º de janeiro de 1993, tomaram posse o primeiro prefeito e vice-prefeito, mais os nove vereadores eleitos pelo povo arealense.

                Areal, além de ser parte da história do país e de fazer parte do Caminho Novo da Estrada Real, se destaca pela beleza natural, atraindo turistas para atividades ao ar livre com cavalgadas ecológicas, caminhadas monitoradas, visitação de floriculturas, orquidários, fazendas e sítios que fabricam queijos, doces e licores caseiros, entre outros.[6]
            </p>
        </div>
        <div id="imagem7">
        </div>
    </div>
</div>
