@{
    ViewData["Title"] = "Home Page";
}
<style>

    body{
        background-color: aliceblue;
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-size:40px;
        text-align: justify;
    }
</style>

<div class="text-center">
    <h1>Areal RJ</h1>
    <p>
        Areal é um município brasileiro localizado na região Centro-Sul Fluminense,[5] no estado do Rio de Janeiro. Localiza-se a uma latitude 22º13'50" Nordeste e a uma longitude 43º06'20" Norte, estando a uma altitude de 444 metros.

        Sua população, conforme estimativas do IBGE de 2018, era de 12 471[2] habitantes, e sua área territorial é de 110,919 km².
    </p>
</div>
