@{
    ViewData["Title"] = "Texto";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Texto da empresa</title>
    <style>
        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <h1>Texto sobre a empresa</h1>
    <p>
        What is Lorem Ipsum?
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
    <a asp-area="" asp-controller="Home" asp-action="Privacy">Contato</a>
    <button onclick="msg3();">Executar Comando</button>
    <script>
        function msg3() {
            alert('Você está na página de texto');
        }
    </script>
</body>
</html>